<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" >
    <title>Exame CFRV</title>
</head>
<body>
    <header>
        <div class="conteiner">
            <img src="{{url_for('static', filename='img/logo/logobg.png')}}" alt="logo cfrv">
        <h1>Centro de Formacao Ramo da Vida</h1>

        </div>

    </header>
    <main>
        <div class="conteiner"> 
            <div class="ask">
                <h2>parabéns {{aluno}} </h2>
                <h3>Realizou o Exame com Sucesso!</h3>

                <p>Espere a Divulgação dos Resultados</p>
            </div>
            
        </div>
    </main>

    <!-- section And -->
    <section>
        <hr>
        @desenvolvida pela <a href="https://buchlucas.github.io/BSoft">BSoft Tecnologias</a>
    </section>
    <!-- and section -->

    
<script src="js/main.js"></script>
</body>
</html>